/* app.css */

/* Styling for the entire app container */
.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
  font-family: Arial, sans-serif;
}

/* Styling for the header */
.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.header h1 {
  margin: 0;
}

/* Styling for the main content */
.main-content-container {
  display: left;
  align-items:right;
}

.tabs {
  flex: 1;
  padding-right: 20px;
}

.tabs button {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid honeydew;
  background-color: violet;
  cursor: pointer;
  outline: none;
}

.tabs button.active-tab {
  background-color: blue;
}

.content {
  flex: 2;
  border: 1px solid yellowgreen;
  padding: 5px;
}

/* Additional styles for the content area */
.content div {
  margin-bottom: 10px;
}
