/* Login.css */

/* Set overall styling for the Login page */
.Login {
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style the header */
.Header {
  background-color: #6ba3e0;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

/* Style the logo */
.Logo {
  height: 40px;
  margin-right: 10px;
}

/* Style the login form container */
.LoginFormContainer {
  flex: 1; /* Take all available vertical space except the header */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Style the login form */
.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px; /* Add border-radius for a rounded appearance */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box-shadow for a 3D effect */
  width: 400px;
  max-width: 90%;
}

/* Style the form title */
.FormTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style each form row */
.FormRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  
}

/* Style the form labels */
label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style the form inputs */
input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

/* Style the login button wrapper */
.ButtonWrapper {
  width: 100%;
  text-align: center;
}

/* Style the login button */
button {
  padding: 12px 20px;
  background-color: #6ba3e0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Add a hover effect for the login button */
button:hover {
  transform: scale(1.05); /* Slightly reduce the scale on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhance the 3D effect on hover */
}

/* Style the login message */
.LoginMessage {
  margin-top: 10px;
  color: red;
  font-size: 14px;
}

/* Style the links for create user and forgot password */
.CreateUserLink,
.ForgotPasswordLink {
  color: #6ba3e0;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s;
  
}

/* Add a 3D effect to the links on hover */
.CreateUserLink:hover,
.ForgotPasswordLink:hover {
  transform: scale(1.1) rotateY(10deg);
}

/* Style for password input with eye icon */
.PasswordInputWrapper {
  position: relative;
  width: 100%;
}

.EyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: transform 0.3s;
}

/* Add a smoother 3D effect to the eye icon on hover */
.EyeIcon:hover {
  transform: translateY(-50%) scale(1.2) rotateY(20deg); /* Increase rotation for smoother effect */
}

.common-dropdown {
  width: 100%; /* Set the desired width */
}



